<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="/server-data.js"></script>
  </head>

  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <header>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <img
            src="//cdn.shopify.com/s/files/1/1758/4293/files/livefitlogo_205x@2x.png?v=1540534332"
            alt="Logo"
            style="width: 40px"
          />
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbardrop"
              data-toggle="dropdown"
            >
              Home
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Hero Section</a>
              <a class="dropdown-item" href="#">Content Section</a>
              <a class="dropdown-item" href="#">Top Meal Packages</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Meals Package</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </nav>
    </header>
    <br />

    <div class="container-fluid">
      <div class="row">
        <div class="main-background-image">
          <img
            class="img-fluid max-width: 100%"
            src="https://media.gettyimages.com/photos/cooking-nd-seasoning-spices-border-on-black-slate-background-picture-id953140058?s=2048x2048"
            alt="Snow"
          />
          <div class="centered">
            <p style="font-family: tangerine; font-size: 120px">
              Meals and grocery
            </p>
            <p style="font-family: tangerine; font-size: 50px">Delivered</p>
          </div>
        </div>
      </div>
    </div>

    <div class="section-title-custom text-center" style="margin: 20px 20px">
      <h1>No cooking, just eating.</h1>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm">
          <div class="work-box">
            <div class="work-box-image">
              <img
                src="https://cdn.shopify.com/s/files/1/1758/4293/files/Pick_1.gif?14089"
                class="img-fluid image-animated"
                alt=""
              />
            </div>
            <div class="work-box-content text-center" style="margin-top: 10px">
              <h4>Pick</h4>
              <p>100+ menu of all-natural dishes.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm">
          <div class="work-box">
            <div class="work-box-image">
              <img
                src="https://cdn.shopify.com/s/files/1/1758/4293/files/heat.gif?14089"
                class="img-fluid image-animated"
                alt=""
              />
            </div>
            <div class="work-box-content text-center" style="margin-top: 10px">
              <h4>Heat</h4>
              <p>Cooked &amp; delivered.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm">
          <div class="work-box">
            <div class="work-box-image">
              <img
                src="https://cdn.shopify.com/s/files/1/1758/4293/files/eat_1_1.gif?14089"
                class="img-fluid image-animated"
                alt=""
              />
            </div>
            <div class="work-box-content text-center" style="margin-top: 10px">
              <h4>Eat</h4>
              <p>Delicious &amp; nutritious.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm">
          <div class="work-box">
            <div class="work-box-image">
              <img
                src="https://cdn.shopify.com/s/files/1/1758/4293/files/repeat---Copy.gif?14095"
                class="img-fluid image-animated"
                alt=""
              />
            </div>
            <div class="work-box-content text-center" style="margin-top: 10px">
              <h4>Repeat</h4>
              <p>Skip a week or cancel any time.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="top-meal-packages">
      <div
        id="top-meal-pakages-intro"
        class="top-meal-packages-title text-center"
        style="margin: 50px 20px 20px 20px"
      >
        <h1>Our chefs are making these right now!!</h1>
        <p>You could be chowing down on these meals any time you choose</p>
        <p>
          Oeders some (or all) of these meals and see why thousands of Canadians
          stock us in their fridge!
        </p>
      </div>

      <div id="top-meals" class="row" style="margin: 0px 30px 50px 30px">
        <div class="col-sm-3">
          <div class="work-box-image">
            <img src="/images/top-meals/burger.jpg" class="img-fluid" />
          </div>
          <div class="work-box-content text-center" style="margin-top: 10px">
            <h4>Burger</h4>
            <p></p>
            <p>$13.99</p>
          </div>
          <div
            class="work-box-content text-center"
            style="margin-top: 10px"
          ></div>
        </div>
        <div class="col-sm-3">
          <div class="work-box-image">
            <img src="images/top-meals/pizza.jpg" class="img-fluid" />
          </div>
          <div class="work-box-content text-center" style="margin-top: 10px">
            <h4>Pizza</h4>
            <p></p>
            <p>$9.99</p>
          </div>
          <div
            class="work-box-content text-center"
            style="margin-top: 10px"
          ></div>
        </div>
        <div class="col-sm-3">
          <div class="work-box-image">
            <img src="images/top-meals/steak.jpg" class="img-fluid" />
          </div>
          <div class="work-box-content text-center" style="margin-top: 10px">
            <h4>Steak</h4>
            <p></p>
            <p>$19.99</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="work-box-image">
            <img src="images/top-meals/salmon.jpg" class="img-fluid" />
          </div>
          <div class="work-box-content text-center" style="margin-top: 10px">
            <h4>Salmon</h4>
            <p></p>
            <p>$11.99</p>
          </div>
          <div
            class="work-box-content text-center"
            style="margin-top: 10px"
          ></div>
        </div>
      </div>
    </div>

    <div class="footer">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
    </div>
  </body>
</html>
