<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <header>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <img
            src="//cdn.shopify.com/s/files/1/1758/4293/files/livefitlogo_205x@2x.png?v=1540534332"
            alt="Logo"
            style="width: 40px"
          />
        </a>

        <!-- Links -->
        <ul class="navbar-nav">
          <!-- Dropdown -->
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbardrop"
              data-toggle="dropdown"
            >
              Home
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Hero Section</a>
              <a class="dropdown-item" href="#">Content Section</a>
              <a class="dropdown-item" href="#">Top Meal Packages</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Meals Package</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Registration</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </nav>
    </header>
    <br />

    <div class="container-fluid">
      <div class="row">
        <div class="main-background-image">
          <img
            class="img-fluid max-width: 100%"
            src="https://media.gettyimages.com/photos/high-angle-view-of-breakfast-on-table-picture-id995468070?s=2048x2048"
            alt="MealPackage"
          />
          <div class="left">
            <p style="font-family: tangerine; font-size: 120px; color: black">
              Our Meals Package
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="top-meal-packages">
      <div
        class="top-meal-packages-title text-center"
        style="margin: 50px 20px 20px 20px"
      >
        <h2>Pick a package, choose your meals, achive your goal!</h2>
        <h2
          style="
            border-bottom-style: solid;
            border-color: gray;
            border-bottom-width: 1.5px;
          "
        >
          It's that easy!
        </h2>
      </div>

      <div class="row" style="margin: 0px 30px 50px 30px">
        <div class="col-sm-3" id="meal_packages">
          <div class="work-box-image">
            <img
              src="images/meal-packages/glutenFreePackage.jpg"
              class="img-fluid image-animated"
              alt=""
            />
          </div>
          <div class="work-box-content text-center" style="margin-top: 10px">
            <h4>
              Gluten Free Package<sup><i class="far fa-thumbs-up"></i>Top</sup>
            </h4>
            <p>$117.0</p>
            <p>Category: Western</p>
            <p>12 meals</p>
            <p>
              The Gluten-Free Package comes with a variety of our best selling
              meals from the Lunch & Dinner menu. Each meal in this package
              contains 1 cup of Carbohydrates, 1 cup of Vegetables and 5oz of
              meat protein (unless you add "protein plus" to your order). You
              can find the nutritional information for your meals on the
              Nutritional Information tab on our website.
            </p>
          </div>
        </div>
        <div class="col-sm-3" id="meal_packages">
          <div class="work-box-image">
            <img
              src="images/meal-packages/prebioticSoupCleansePackage.jpg"
              class="img-fluid image-animated"
              alt=""
            />
          </div>
          <div class="work-box-content text-center" style="margin-top: 10px">
            <h4>Prebiotic Soup Cleanse Package</h4>
            <p>$129.0</p>
            <p>Category: Western</p>
            <p>21 meals</p>
            <p>
              This package comes with 7 of our best selling protein-packed meals
              and 14 of our best selling prebiotic soups! We designed this
              package to deliver rejuvenating benefits such as improved gut
              health and weight loss!
            </p>
          </div>
        </div>
        <div class="col-sm-3" id="meal_packages">
          <div class="work-box-image">
            <img
              src="images/meal-packages/veggiePackage.jpg"
              class="img-fluid image-animated"
              alt=""
            />
          </div>
          <div class="work-box-content text-center" style="margin-top: 10px">
            <h4>Veggie Package</h4>
            <p>$159.0</p>
            <p>Category: Western</p>
            <p>15 meals</p>
            <p>
              This package includes a variety of 15 vegetarian-friendly meals
              including veggie chicken, veggie beef, veggie ground beef, tofu, a
              variety of fresh vegetables, seasonings, sauces and carbohydrates
              including rice, yams, pasta, butternut ravioli, potatoes and
              quinoa.
            </p>
          </div>
        </div>
        <div class="col-sm-3" id="meal_packages">
          <div class="work-box-image">
            <img
              src="images/meal-packages/weightLossPackage.jpg"
              class="img-fluid image-animated"
              alt=""
            />
          </div>
          <div class="work-box-content text-center" style="margin-top: 10px">
            <h4>Weight Loss Package</h4>
            <p>$145.0</p>
            <p>Category: Western</p>
            <p>10 meals</p>
            <p>
              This package comes with a variety of our best selling meals from
              the Lunch & Dinner menu. Each meal has been properly portion
              controlled to help you lose weight! The longer you stick with it,
              the better the results will get.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
    </div>
  </body>
</html>
