<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS for bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Latest compiled and minified social footer -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>Document</title>
</head>

<body>
    <!-- Top Menu -->
    <header>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" style="padding: 4px">
                        <img class="img-fluid"
                            src="//cdn.shopify.com/s/files/1/1758/4293/files/livefitlogo_205x@2x.png?v=1540534332"
                            alt="Logo" style="width: 40px" />
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    {{#navLink "/"}}Home{{/navLink}}
                    {{#navLink "/mealspackage"}}Meals Package{{/navLink}}
                    {{#navLink "/about"}}About{{/navLink}}
                    {{#dataEntryClerkOn}}{{/dataEntryClerkOn}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{#sessionOn}}{{/sessionOn}}
                </ul>
            </div>
        </nav>
    </header>

    <main>
        {{{body}}}
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    </main>

    <!-- footer -->
    <footer>
        <div class="footer">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-google"></a>
        </div>
    </footer>
</body>

</html>