<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <title>Document</title>
    <style>
        [class^="col-md"] { border: 2px lightblue solid; }
    </style>
</head>
<body>
    <header>
        <!-- https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_navbar&stacked=h -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="/">WebSiteName</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/userform">User Form</a></li>
                <li><a href="/userformbs">User Form (Bootstrap)</a></li>
                <li><a href="/register-user">Register User (File⮭)</a></li>
              </ul>
            </div>
          </nav>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Week 5 Demo App (Ver 2.0)</h2>

                <ul>
                    <li><a href="/userform">userform.html</a></li>
                    <li><a href="/userformbs">userformBS.html</a> (with Bootstrap)</li>
                    <li><a href="/register-user">registerUser.html</a> (with file uploads field)</li>
                </ul>
            </div>
        </div>
    </div>

    <br><br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-10  col-md-offset-2">col-md-10, col-md-offset-2</div>
        </div>

        <div class="row">
            <div class="col-md-4">col-md-4</div>
            <div class="col-md-4">col-md-4</div>
            <div class="col-md-4">col-md-4</div>
        </div>
        
        <div class="row">
            <div class="col-md-3">col-md-3</div>
            <div class="col-md-3">col-md-3</div>
            <div class="col-md-3">col-md-3</div>
            <div class="col-md-3">col-md-3</div>
        </div>

        <div class="row">
            <div class="col-md-3"><img src='/images/1602598464955.png' alt='Express.js' class="img-rounded img-fluid img-responsive" /></div>
            <div class="col-md-3"><img src='/images/1602598704364.png' alt='Express.js' class="img-fluid img-responsive" /></div>
            <div class="col-md-3"><img src='/images/1602628464536.png' alt='Express.js' class="img-fluid img-thumbnail img-responsive" /></div>
            <div class="col-md-3"><img src='/images/1602628498357.png' alt='Express.js' class="img-circle img-fluid img-responsive" /></div>
        
        </div>

        <div class="row">
            <div class="col-md-12"><img src='/images/1602845545328.png' alt='Seneca Newnham' class="img-rounded img-responsive" /></div>
        </div>
    </div>

    <footer>

    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>